body{
    margin:0;
    overflow: hidden;
    background-color: #207e40;
}
#canvas{
    position:absolute;
    z-index: 10;
}
#canvas2{
    position: absolute;
    z-index: 20;
}/*
#canvas3{
    position: absolute;
    z-index: 1;
}*/
/*
#message {
	position: absolute;
	top: 0vh;
	right: 0vw;
	z-index: 10;

	width: 20vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	overflow-x: hidden;

	background-color: rgb(0, 0, 0);
}
#message div {
	position: relative;
	top: 0vh;
	right: 0vw;
	z-index: 10;

	width: 19vw;
	height: fit-content;

	margin-bottom: 0.5vh;

	overflow: hidden;

	background-color: rgb(158, 127, 40);
	font-size: 1.2vw;
}
*/
/*
img{
    visibility: hidden;
}
*/

/*
took me long time to complete this codes, this game
i was obsessed with chess, the queen's gambit, and coding
hence this project
no initial planning or designing was done at start
it was a mess i felt in the middle
there were lots of moments where i wanted to just stop working on this
dark times
thought i could never complete this
but i finally did
it felt really good. i felt relieved and proud of myself
problems not in style file off course
but in java script files
*/